
.App {
  margin: 3rem;
  font-family: Helvetica, sans-serif;
}
.message-box{
  display: grid;

}
.buttons{
  margin-right: 2.5rem;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: red;
}

.userList{
  font-size: 1.2em;
  font-weight: bold;
}
.user{
  display: flex !important;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 0.5em;
}